<div class="bg-white py-16 px-5">
  <%= image_tag 'top_title.png', class: 'w-64 sm:w-96 m-auto' %>
  <h2 class="text-center text-xl mt-12 font-black mb-8" ><%= t('.label1-1') %><br><%= t('.label1-2') %></h2>
  <p class="text-center"><%= t('.text1-1') %><br><%= t('.text1-2') %></p>
</div>
<div class="px-5">
  <div class="max-w-[800px] m-auto">
    <div class="sm:flex justify-center py-16">
      <div class="sm:text-start text-center sm:w-1/2">
        <h2 class="font-black text-xl mb-8"><%= t('.label2-1') %></h2>
        <p><%= t('.text2-1') %><br class="hidden sm:block"><%= t('.text2-2') %></p>
      </div>
      <div class="flex justify-end  sm:w-1/2">
        <%= image_tag 'top_map_first.png', class: 'w-80 m-auto sm:m-0 mt-8  rounded-xl' %>
      </div>
    </div>
    <div class="sm:flex justify-center pb-16">
      <div class="sm:order-2 sm:text-start text-center sm:w-1/2">
        <h2 class="font-black text-xl mb-8"><%= t('.label2-2') %></h2>
        <p><%= t('.text2-3') %><br class="hidden sm:block"><%= t('.text2-4') %></p>
      </div>
      <div class="sm:order-1 sm:w-1/2 flex justify-start">
        <%= image_tag 'top_map_second.png', class: 'w-80 m-auto sm:m-0 mt-8 rounded-xl' %>
      </div>
    </div>
  </div>
</div>
<div class="bg-form py-16 px-5">
  <div class="max-w-[800px] m-auto">
    <div class="flex justify-center items-center gap-4">
      <%= image_tag 'fish_right.png', class: 'w-16 sm:w-20 sm:block hidden' %>
      <h2 class="text-center text-xl font-black"><%= t('.label3-1') %><br><%= t('.label3-2') %></h2>
      <%= image_tag 'fish_left.png', class: 'w-16 sm:w-20 sm:block hidden' %>
    </div>
    <p class="text-center mt-8"><%= t('.start_now') %></p>
    <%= link_to fishes_path, class: "flex justify-center", data: { turbo: false } do %>
      <%= render 'map_svg' %>
    <% end %>
  </div>
</div>
