<div class="bg-white py-16 px-5">
  <%= image_tag 'top_title', class: 'w-64 sm:w-96 m-auto' %>
  <p class="text-center text-xl mt-12 font-black mb-8" >魚が釣れる場所が知りたい<br>FippoMapはその願いを叶えます。</p>
  <p class="text-center">釣った魚の情報を簡単に記録できる<br>マップに特化した釣り人のためのSNSです!!</p>
</div>
<div>
  <div class="sm:flex justify-center py-16 px-5 gap-4">
    <%= image_tag 'top_map', class: 'w-64 sm:w-96 m-auto sm:m-0 sm:order-2 mb-8' %>
    <div class="sm:text-start text-center sm:order-1">
      <p class="font-black text-xl mb-8">FishingMapで自分だけの釣りマップを作ろう！！</p>
      <p>釣れた魚の情報をマップ上で管理して分析できます。<br class="hidden sm:block">非公開にすればポイントを知られたくない人も使えるアプリです。</p>
    </div>
  </div>
</div>
<div class="bg-form py-16 px-5">
  <div class="flex justify-center items-center gap-4">
    <%= image_tag 'fish_right', class: 'w-16 sm:w-20 sm:block hidden' %>
    <p class="text-center text-xl font-black">視覚的直感的な操作で釣果情報を簡単に入手できます<br>あなたはもう魚に逃げられる心配はありません</p>
    <%= image_tag 'fish_left', class: 'w-16 sm:w-20 sm:block hidden' %>
  </div>
  <p class="text-center mt-8">↓↓　今すぐ始めよう！!　↓↓</p>
  <%= link_to fishes_path, class: "flex justify-center", data: { turbo: false } do %>
    <%= render 'map_svg' %>
  <% end %>
</div>
