<% set_meta_tags title: t('.title') %>

<div class="bg-form p-6 max-w-[800px] m-auto my-16 rounded-2xl relative">
  <div class="mx-auto">
    <div class="sm:flex">
      <div class="flex-grow flex flex-col sm:border-r-[1px] sm:border-spacing-100">
        <div class="flex justify-between mr-2">
          <%= render 'user_info_lg', { user: @user } %>
          <% if logged_in? %>
            <% if current_user.id != @user.id %>
              <%= render 'users/follow_turbo', {user: @user} %>
            <% end %>
          <% end %>
        </div>
        <div class="flex-grow min-h-[50px] break-all pr-6 pb-6"><%= simple_format(@user.introduction)%></div>
      </div>
      <hr class="my-3">
      <%= render 'status', {user: @user } %>
    </div>
  </div>
</div>

<% if @user.is_published%>
  <%= render 'fishes/fishes', { fishes: @fishes }%>
<% else %>
<div class="flex justify-center">
  <div class="rounded-full bg-black px-3 py-1 text-xs sm:text-sm font-semibold text-white"><%= t('.not_published') %></div>
</div>
<% end %>
