<table class="table-auto text-sm text-slate-500 sm:mx-9">
  <tbody>
    <tr class="h-10">
      <td class="w-24"><%= 'STATUS' %></td>
      <td><%=  %></td>
    </tr>
    <tr class="h-8">
      <td><%= t('.post_num') %></td>
      <td><%= current_user.fishes.count  %></td>
    </tr>
    <tr class="h-8">
      <td><%= t('.follow_num') %></td>
      <td><%= current_user.followings.count %></td>
    </tr>
    <tr class="h-8">
      <td><%= t('.follower_num') %></td>
      <td><%= current_user.followers.count %></td>
    </tr>
    <tr class="h-8">
      <td><%= t('.grade') %></td>
      <td><%= current_user.fishes.count  %></td>
    </tr>
  </tbody>
</table>
