<%= search_form_for @q, url: url, data: {turbo: false} do |f| %>
  <div class="flex flex-wrap">
    <%= button_tag type: "submit", class: 'inline-flex items-center rounded-full bg-black px-3 py-1 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 mr-1 h-9' do %>
      <%= heroicon 'magnifying-glass', options: { class: 'w-3', fill: '#ffffff' } %>
    <% end %>
    <%= f.search_field :body_cont, class: 'inline-flex items-center rounded-full border-1 border-indigo-600 bg-white px-3 py-1 mr-1 mb-1 w-32 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 text-gray-500', placeholder: t('defaults.search_word') %>
    <%= f.search_field :species_name_cont, list: 'fish_species_id', class: 'inline-flex items-center rounded-full border-1 border-indigo-600 bg-white px-3 py-1 mr-1 mb-1 w-32 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 text-gray-500', placeholder: Fish.human_attribute_name(:species) %>
    <datalist id="fish_species_id">
      <% Species.pluck(:name).each do |species| %>
      <option value="<%= species %>"></option>
      <% end %>
    </datalist>
    <%= f.select :weather_eq, Fish.weathers.keys.map.with_index { |k, i| [t("enums.fish.weather.#{k}"), i] }, { include_blank: Fish.human_attribute_name(:weather) }, class: 'inline-flex items-center rounded-full border-1 border-indigo-600 bg-white px-3 py-1 mr-1 mb-1 w-20 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 text-gray-500' %>
    <%= f.select :wind_direction_eq, Fish.wind_directions.keys.map.with_index { |k, i| [t("enums.fish.wind_direction.#{k}"), i] }, { include_blank: Fish.human_attribute_name(:wind_direction) }, class: 'inline-flex items-center rounded-full border-1 border-indigo-600 bg-white px-3 py-1 mr-1 mb-1 w-20 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 text-gray-500' %>
    <%= f.select :tide_name_eq, Fish.tide_names.keys.map.with_index { |k, i| [t("enums.fish.tide_name.#{k}"), i] }, { include_blank: Fish.human_attribute_name(:tide_name) }, class: 'inline-flex items-center rounded-full border-1 border-indigo-600 bg-white px-3 py-1 mr-1 mb-1 w-20 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 text-gray-500' %>
    <%= f.date_field :fishing_date_gteq, class: 'inline-flex items-center rounded-full border-1 border-indigo-600 bg-white px-3 py-1 mr-1 mb-1 w-36 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 text-gray-500' %>
    <span>~</span>
    <%= f.date_field :fishing_date_lteq_end_of_day, class: 'inline-flex items-center rounded-full border-1 border-indigo-600 bg-white px-3 py-1 mx-1 mb-1 w-36 text-xs sm:text-sm font-semibold text-black shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 text-gray-500', placeholder: Fish.human_attribute_name(:species) %>
  </div>
<% end %>
