<script>
  var lat                             // 緯度
  var lng                             // 経度
  var currentLatlng                   // 現在地の緯度, 経度
  var latlng;                         // 中心の緯度, 経度
  var map;                            // 表示用のマップ
  var current_marker;                 // 現在の位置情報
  var marker = [];
  var infoWindow = [];

  function initMap() {
    // 現在位置を取得できた時
    function success(pos) {
      lat = pos.coords.latitude;
      lng = pos.coords.longitude;
      currentLatlng = new google.maps.LatLng(lat, lng);
      <% if session['latitude'] && session['longitude'] %>
        lat = <%= session['latitude'] %>;
        lng = <%= session['longitude'] %>;
      <% end %>
      latlng = new google.maps.LatLng(lat, lng);
      map = new google.maps.Map(document.getElementById('maps'), {
        zoom: 10,
        center: latlng,
        mapTypeId: 'terrain',
      });
      current_marker = new google.maps.Marker({ // 現在地にマーカーを立てる
        position: currentLatlng,
        map: map,
      });
      marker();
    }
    // 現在位置を取得できなかった時
    function fail(error) {
      alert('位置情報の取得に失敗しました。エラーコード：' + error.code);
      <% if session['latitude'] && session['longitude'] %>
        lat = <%= session['latitude'] %>;
        lng = <%= session['longitude'] %>;
      <% end %>
      latlng = new google.maps.LatLng(35.6812405, 139.7649361); //東京駅
      map = new google.maps.Map(document.getElementById('maps'), {
        zoom: 10,
        center: latlng,
        mapTypeId: 'terrain',
      });
      marker();
    }
    // 釣果用のマーカーを立てる
    function marker() {
      <%= render partial: "fish", collection: @fishes %>
    }
    navigator.geolocation.getCurrentPosition(success, fail);
  }
  // 現在地に移動する
  function changeCenter() {
    map.panTo(currentLatlng);
  }
  // マップの中心の位置方法を取得して投稿画面に遷移
  function toFormPost(){
  var latlng = map.getCenter();
  console.log(latlng.lat());
  console.log(latlng.lng());
  location.href = "fishes/new" + "?latitude=" + latlng.lat() + "&longitude=" + latlng.lng()
  }
</script>

<%# 表示部分 %>
<div id="maps" class="w-full h-[calc(100vh_-_64px_-_64px)] relative" >
</div>
<div class="absolute bottom-20 left-1/2 -translate-x-1/2 flex">
  <button type="button" class="js-add-post inline-flex items-center rounded-full bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 mr-1">
    投稿する
  </button>
  <button type="button" class="js-to-form-post inline-flex items-center rounded-full bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mr-1 hidden" onclick="toFormPost()">
    この位置に投稿する
  </button>
  <button type="button" class="js-cancel-post inline-flex items-center rounded-full bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mr-1 hidden">
    キャンセル
  </button>
</div>
<%# 中心のピン %>
<svg class='js-center-point absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-full text-indigo-600 hidden' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="50px" width="50px" version="1.1" id="Capa_1" viewBox="0 0 297 297" xml:space="preserve">
<path d="M234.067,85.715C234.067,38.451,195.682,0,148.5,0S62.933,38.451,62.933,85.715c0,34.744,20.755,64.703,50.486,78.15  l24.91,124.794c0.968,4.851,5.225,8.342,10.171,8.342c4.944,0,9.203-3.492,10.171-8.341l24.911-124.795  C213.313,150.417,234.067,120.459,234.067,85.715z M148.5,233.643l-12.605-63.149c4.115,0.611,8.323,0.938,12.605,0.938  s8.49-0.326,12.605-0.938L148.5,233.643z M148.5,150.686c-35.744,0-64.823-29.146-64.823-64.972s29.079-64.972,64.823-64.972  s64.823,29.146,64.823,64.972S184.244,150.686,148.5,150.686z"/>
</svg>
<%# 現在地に移動するボタン %>
<button class="bg-white w-10 h-10 absolute top-32 m-[10px] rounded-sm right-0" onClick="changeCenter()">
  <div class="w-7 h-7 m-auto">
    <%= heroicon "map-pin" %>
  </div>
</button>
