<div class="bg-form py-16 px-6 sm:py-24 lg:px-8 max-w-[800px] m-auto my-16 rounded-2xl relative">
  <div class='absolute top-3 left-3 '>
    <%= render 'shared/back' %>
  </div>
  <div class="mx-auto max-w-xl">
    <div class="flex">
      <%= link_to user_path(@user), class: "flex max-w-xs items-center rounded-ful text-sm focus:outline-none", data: { turbo: false } do %>
      <%= image_tag @user.avatar_url(:thumbnail), class: "rounded-full h-12 w-12 sm:h-16 sm:w-16", alt: User.human_attribute_name(:avatar) %>
      <% end %>
      <div class="flex-grow px-5 text-base sm:text-xl">
        <%= @user.name %>
      </div>
      <% if logged_in? %>
        <div class="flex flex-col justify-between">
          <%= render 'users/follow', {user: @user} %>
          <div class="flex">
            <% if current_user.own?(@fish) %>
              <%= link_to t('defaults.edit'), edit_fish_path(@fish), class: "inline-flex items-center rounded-full bg-black px-3 py-1 text-xs sm:text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 mr-1", data: {turbo: false} %>
              <%= button_to t('defaults.delete'), fish_path(@fish), method: :delete, class: "inline-flex items-center rounded-full bg-black px-3 py-1 text-xs sm:text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 mr-1", onclick: "return confirm('" + t('defaults.message.delete_confirm') + "')", data: {turbo: false} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex justify-center">
      <div>
        <%= image_tag @fish.image.url, class: 'rounded-lg mt-10', id: 'preview', size: '200x200' %>
        <%= turbo_frame_tag "like" do %>
        <div class="flex justify-between items-start mb-10">
          <% if logged_in? %>
          <%= render 'like', { fish: @fish } %>
          <% end %>
          <p class="text-[13px] text-slate-500"><%= @fish.fishing_date.strftime("%Y-%m-%d %H:%M:%S") %></p>
        </div>
<% end %>
      </div>
    </div>
    <div class="my-3"><%= simple_format(@fish.body)%></div>
    <hr>
    <%= render 'detail', { fish: @fish } %>
  </div>
</div>
