<div class="bg-form py-16 px-6 sm:py-24 lg:px-8 max-w-[800px] m-auto my-16 rounded-2xl relative">
  <%= link_to t('defaults.back'), fishes_path, class: "absolute top-3 left-3 inline-flex items-center rounded-full bg-black px-3 py-1 text-xs sm:text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60", data: {turbo: false} %>
  <div class="mx-auto max-w-xl">
    <div class="flex">
      <%= link_to mypage_dashboard_path, class: "flex max-w-xs items-center rounded-ful text-sm focus:outline-none" do %>
      <%= image_tag @user.avatar_url(:thumbnail), class: "rounded-full h-12 w-12 sm:h-16 sm:w-16", alt: User.human_attribute_name(:avatar) %>
      <% end %>
      <div class="flex-grow px-5 text-base sm:text-xl">
        <%= @user.name %>
      </div>
      <div class="flex flex-col justify-between">
        <%= link_to t('.follow'), '#', class: "inline-flex items-center rounded-full bg-indigo-600 px-3 py-1 text-xs sm:text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 mr-1" %>
        <div class="flex">
          <% if @user == current_user %>
            <%= link_to t('defaults.edit'), edit_fish_path(@fish), class: "inline-flex items-center rounded-full bg-black px-3 py-1 text-xs sm:text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 mr-1", data: {turbo: false} %>
            <%= button_to t('defaults.delete'), fish_path(@fish), method: :delete, class: "inline-flex items-center rounded-full bg-black px-3 py-1 text-xs sm:text-sm font-semibold text-white shadow-sm hover:bg-slate-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60 mr-1", onclick: "return confirm('" + t('defaults.message.delete_confirm') + "')", data: {turbo: false} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <div>
        <%= image_tag @fish.image.url, class: 'rounded-lg mt-10', id: 'preview', size: '200x200' %>
        <div class="flex justify-between items-cente mt-1 mb-10">
          <div class="flex">
            <div class="w-3 flex items-center mr-1">
              <%= heroicon 'heart' %>
            </div>
            <p class=" text-xs">1</p>
          </div>
          <p class=" text-xs"><%= @fish.fishing_date.strftime("%Y-%m-%d %H:%M:%S") %></p>
        </div>
      </div>
    </div>
    <p class="my-3"><%= @fish.body %></p>
    <hr>
    <table class="table-auto mt-3">
      <tbody>
        <tr>
          <td class=" w-24"><%= t('.species') %></td>
          <td><%= @fish.species.name %></td>
        </tr>
        <tr>
          <td><%= t('.size') %></td>
          <td><%= @fish.size %></td>
        </tr>
        <tr>
          <td><%= t('.weather') %></td>
          <td><%= @fish.weather_i18n %>　<%= @fish.temperature%>　℃ <%= @fish.wind_direction_i18n %>　<%= @fish.wind_speed %>m/s</td>
        </tr>
        <tr>
          <td><%= t('.tide_name') %></td>
          <td><%= @fish.tide_name_i18n %></td>
        </tr>
        <tr>
          <td><%= t('.tide_name') %></td>
          <td><%= @fish.latitude %></td>
        </tr>
        <tr>
          <td><%= t('.tide_name') %></td>
          <td><%= @fish.longitude %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
