<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/@googlemaps/markerwithlabel/dist/index.min.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" defer></script>

  </head>
  <body class="flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    <main class="<%= map_if('fishes', 'index') %> flex-grow bg-[#E9F0FE]">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>

<%# simple_form等の設定を変えたときにTailwindが反映されないのでここにキープする %>
<%# <keep class="block w-full rounded-md border-0 py-2 px-3.5 mt-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 text-red-600 text-red-500 bg-indigo-600 text-xs py-2.5 text-center text-sm font-semibold text-white  hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-10 mb-5 mb-10 mt-1 inline-flex space-x-1  font-medium text-gray-600 my-4"></keep> %>
